@import 'style-navbar-footer';


@import url('http://fonts.googleapis.com/css?family=Oxygen&subset=latin,latin-ext');

$olive : #636130;
$light : #f3f3f3;
$dark : #222121;
$blue : #0A1172;


*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Oxygen', sans-serif; 
    height:auto;
    
}
.page-content{
    height: 100vh;
    background-image: url(brushed_alu.png);
    position:relative;

    .hero {
        display: flex;
        position: relative;
      
        &__container {
          display:flex;
          align-items:center;
          justify-items: space-between;
          margin:0 auto;
          height: 90vh;
          z-index:1;
          width: 100%;
          max-width: 1200px;

          &--left {
            width: 100%;
            line-height: 1.2;
          }
        
          &--left h1{
            font-size:2rem;
            color: $olive;
            text-align: center;
            margin-bottom: 70px;
          }
          &--left h2{
            font-size:2rem;
            color: $blue;
            margin-bottom: 25px;
            margin-left: 40px;
          }
          &--left p{
            font-size:1rem;
            margin-top:1rem;
            color: $dark;
            font-weight: 700;
            font-style: oblique;
            text-align: justify;
          }
          &--right {
            text-align:right;
            display: flex;
          }
          
          &--img {
            margin: 0 0 20px 0;
            flex: 1;
            height: 100%;
            width: 100%;
            padding: 20px;
            
          }
        
        }
    }
}