
 @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

$olive : #556B2F;
$light : #f7f7f7;
$dark : #222121;
$blue : #0A1172;

%align-center {
    display:flex;
    align-items: center;
}

.navbar {
    background-color: $light;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw-1200px) /2);
    z-index:10;
    position:relative;
    
    &_logo {
        color: $dark;
        cursor:pointer;
        text-decoration: none;
        font-size: 2rem;
        margin-left: 24 px;
        @extend %align-center;

    }
    &_menu {
        @extend %align-center;
        list-style: none;
        text-align: center;
        margin-right: 24px;
    }
    &--link {
        color: $dark;
        @extend %align-center;
        justify-content: center;
        text-decoration: none;
        padding: 0 1rem;
        
        &:hover {
            color: $olive;
            transition: all 0.3s ease;
        }
    }   
}

.footer{
    background-color: $light;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw-1200px) /2);
    z-index:10;
    position:relative;

    &_menu {
        @extend %align-center;
        list-style: none;
        text-align: center;
        margin-right: 24px;
    }
    &--link {
        color: $dark;
        @extend %align-center;
        justify-content: center;
        text-decoration: none;
        padding: 0 1rem;
        
        &:hover {
            color: $olive;
            transition: all 0.3s ease;
        }
    }   
}