@import 'style-navbar-footer';


@import url('http://fonts.googleapis.com/css?family=Oxygen&subset=latin,latin-ext');

$olive : #556B2F;
$light : #f3f3f3;
$dark : #222121;
$blue : #0A1172;


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Oxygen', sans-serif;
}


.chart-info {
    text-align: center;
    justify-content: center;
    color:$dark;
    
}
.main{
  background-color: $light;
}
.chart {
  margin-left: 3rem;
  
  background-color: $light;
  
    &-container {
        display:flex;
        align-items:center;
        justify-items: space-between;
        margin:0 auto;
        height: 90vh;
        z-index:1;
        width: 100%;  

        &-box{
          position: relative;
          height: 80% !important; 
          width: 100%!important;
        }
    
        &-text {
        text-align: left;
        line-height: 1.2;
        min-width: 300px;
        p{
          margin-top:10px;
          margin-bottom: 10px;
          padding:2px;
          text-align:center;
          font-weight: 700;
        }
        dt{
          margin-top: 2px;
          margin-bottom: 3px;
        }
        }
  
        &-img{
        height: 100%;
        width: 100%;
        }
      
        &-text-swap{
          display: flex;
          flex-direction: column;
          p{
            margin-right:none;
            margin-top:10px;
            margin-bottom: 10px;
            padding:2px;
            text-align:center;
            font-weight: 700;
          }
          dt{
            margin-right: 20rem;
            margin-top: 2px;
            margin-bottom: 3px;
          }
          dl{
            align-self: flex-end;
          }
        }
    }
}
